@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.13px;
}
.row-currency {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  margin-left: 61px;
}
.price-input, .select-currency {
  box-sizing: border-box;
  width: 150px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  padding-left: 10px;
  text-align: left;
}
.price-input, .select-currency, .swap-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28.13px;
}
.select-currency {
  background-color: rgb(255, 255, 255);
}
.in-text {
  margin: 7px;
}
.you-are-transferring-from-text {
  margin-right: 7px;
}
.equal-text {
  margin: 7px;
}
.swap-button:hover {
  color: rgba(0, 0, 0, 100%);
  text-decoration: none;
  cursor: pointer;
}
.swap-button {
  color: rgba(0, 0, 0, 37%);
  text-decoration: underline;
  text-align: center;
  background:none;
  border:none;
}
.swap-text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-values {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.title {
  width: 800px;
  height: 24px;
  margin: 100px 0 30px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.main-form {
  width: 800px;
  height: 600px;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  position: relative;
}
.load-text {
  width: 800px;
  text-align: center;
  margin-top: 250px;
}
.cssload-container{
	position: relative;
  margin-top: 15%;
}
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}
.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}
.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}
.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}
@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}
@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}
@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}